<div>
    <p-tabView>
        <p-tabPanel header="Projects List">
           Content 1
        </p-tabPanel>
        <p-tabPanel header="Projects Tree list">
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
            Content 2
        </p-tabPanel>
        <p-tabPanel header="New Project">
        </p-tabPanel>
    </p-tabView>
</div>
